.copyright {
  margin-top: 40px;
  width: 130px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__text {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.copyright__link {
  padding-top: 2px;
}

@media (min-width: @tablet-width) {
  .copyright {
    margin-top: 10px;
  }
}

@media (min-width: @desktop-width) {
  .copyright {
    margin-left: auto;
    margin-right: 120px;
    margin-top: 11px;
  }
}
