.page-footer {
  width: @mobile-width;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: @tablet-width;
    display: flex;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: @desktop-width;
  }
}
