.page-header {
  .center();
  max-width: @mobile-width;
}

.main-navigation {
  position: relative;
  .flex();
}

.main-navigation__close {
  position: absolute;
  top: 20px;
  right: 30px;
  border: none;
  box-shadow: none;

  &:hover {
    cursor: pointer;
  }

  &::before {
    content: "";
    position: absolute;
    width: 29px;
    height: 4px;
    background-color: @white;
    top: 7px;
    left: 0;
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    width: 29px;
    height: 4px;
    background-color: @white;
    top: 7px;
    left: 0;
    transform: rotate(-45deg);
  }
}

.main-navigation__list {
  .list-reset();
  .flex();
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.main-navigation__item {
  width: 100%;
  .flex();
  justify-content: center;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
}

.main-navigation__link {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: @font-bold;
  font-size: 18px;
  color: @white;
  padding-top: 17px;
  padding-bottom: 17px;
  background-color: @blue;

  &:hover {
    background-color: @blue-hover;
    cursor: pointer;
  }
  &:active {
    background-color: @blue-active;
    color: @white-active;
  }
}

.main-navigation__open {
  border: none;
  background-color: rgba(255,255,255,0);
  position: absolute;
  bottom: 46px;
  right: 13px;

  &:hover {
    cursor: pointer;
  }
}

.main-navigation__open-image {
  fill: @blue;
}

.main-navigation__logo {
  .center();
}

.page-header__title {
  .flex();
  width: @mobile-width;
  position: relative;
  justify-content: center;
  margin-top: -30px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  z-index: -1;

  &::after {
    content: "";
    position: absolute;
    width: @mobile-width;
    height: 26px;
    background-image: url(../img/bg-intro-triangle-mobile.svg);
    background-size: 102%;
    bottom: -1px;
    left: 0;
  }
}

.page-header__title-image {
  padding-top: 90px;
  padding-bottom: 85px;
}

@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) {

}
