.search-hotel {
  margin-left: auto;
  margin-right: auto;
  width: @mobile-width;
}

.search-hotel__slogan {
  font-size: 21px;
  margin-top: 25px;
  margin-bottom: 0;
}

.search-hotel__intro {
  margin-left: auto;
  margin-right: auto;
  max-width: 270px;
  margin-top: 18px;
  line-height: 1.7;
}

.search-hotel__button {
  max-width: 280px;
  display: block;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  font-size: 21px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 23px;
  padding-bottom: 20px;
  font-weight: bolder;
  color: @white;
  background-color: @blue;

  &:hover {
    background-color: @blue-hover;
  }

  &:active {
    background-color: @blue-active;
    color: @white-active;
  }
}

.search-hotel__map-wrapper {
  margin-top: 48px;
}

@media (min-width: @tablet-width) {
  .search-hotel {
    width: @tablet-width;
  }

  .search-hotel__slogan {
    font-size: 30px;
    margin-top: 40px;
  }

  .search-hotel__intro {
    min-width: 440px;
    margin-top: 25px;
  }

  .search-hotel__button {
    margin-top: 42px;
    max-width: 458px;
    padding: 17px 0 19px 0;
  }

  .search-hotel__map-wrapper {
    margin-top: 56px;
  }
}

@media (min-width: @desktop-width) {
  .search-hotel {
    width: @desktop-width;
  }

  .search-hotel__slogan {
    margin-top: 47px;
  }

  .search-hotel__map-wrapper {
    margin-top: 65px;
  }
}
