.sedona-title {
  line-height: 1.44;
  font-size: 18px;
  font-weight: bold;
  color: @black;
  text-transform: uppercase;
  text-align: center;

  &--white {
    color: @white;
  }

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}
