@blue: #81b3d2;
@blue-hover: #669ec0;
@blue-active: #5496bd;
@white: rgb(255,255,255);
@white-active: rgba(255,255,255,0.3);
@black: #000000;
@light-black: #333333;
@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1200px;
@font-normal: "PT Sans", "Arial", sans-serif;
@font-bold: "PT Sans Bold", "Arial", sans-serif;
