.list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  background-color: #f2f2f2;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans");
  src: url("../fonts/ptsans.woff2") format("woff2");
  src: url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-style: bold;
  font-weight: 700;
  src: local("PT Sans Bold");
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  src: url("../fonts/ptsansbold.woff") format("woff");
}
.sedona-title {
  line-height: 1.44;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}
.sedona-title--white {
  color: #ffffff;
}
@media (min-width: 768px) {
  .sedona-title {
    font-size: 21px;
  }
}
.sedona-intro {
  line-height: 1.5;
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}
.sedona-intro--white {
  color: #ffffff;
  margin-left: 15px;
  margin-right: 15px;
}
.page-wrapper {
  width: 320px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}
@media (min-width: 768px) {
  .page-wrapper {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .page-wrapper {
    width: 1200px;
  }
}
.page-header {
  margin-left: auto;
  margin-right: auto;
}
.page-header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -30px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .page-header__title {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}
.page-header__title--index {
  background-size: cover;
  background-position: 50% 50%;
}
.page-header__title::after {
  content: "";
  position: absolute;
  width: 322px;
  height: 26px;
  background-image: url("../img/bg-intro-triangle-mobile.svg");
  background-size: 327px;
  bottom: -1px;
  left: -1px;
}
.page-header__title-image {
  margin-top: 50px;
  margin-bottom: 70px;
  padding: 0;
}
.page-header__title-image--index {
  margin-top: 90px;
  margin-bottom: 84px;
  padding: 0;
}
@media (min-width: 768px) {
  .page-header__title {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    margin-top: 0;
    min-height: 290px;
    background-position: 50% 100%;
  }
  .page-header__title::after {
    width: 770px;
    background-image: url("../img/bg-intro-triangle-tablet.svg");
    height: 59px;
    background-size: 101%;
    bottom: -2px;
  }
  .page-header__title-image {
    width: 460px;
    height: 80px;
    margin-top: 95px;
  }
  .page-header__title-image--index {
    width: 460px;
    height: 350px;
    margin-top: 73px;
    margin-bottom: 90px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .page-header__title {
    background-image: url("../img/bg-back-tablet@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .page-header__title {
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }
  .page-header__title::after {
    width: 1201px;
    background-image: url("../img/bg-intro-triangle-desktop.svg");
    height: 57px;
  }
  .page-header__title-image--form {
    margin-bottom: 122px;
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .page-header__title {
    background-image: url("../img/bg-back-desktop@2x.jpg");
  }
}
.main-navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main-navigation__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}
.main-navigation__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
}
.main-navigation__link {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  padding-top: 17px;
  padding-bottom: 17px;
  background-color: #81b3d2;
}
.main-navigation__link:hover {
  background-color: #669ec0;
}
.main-navigation__link:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.main-navigation__management {
  position: absolute;
  top: 15px;
  right: 13px;
}
.main-navigation__management:hover {
  cursor: pointer;
}
.main-navigation__button {
  border: none;
  background-color: transparent;
}
.main-navigation__button--open {
  display: none;
}
.main-navigation__button--close {
  display: none;
}
.main-navigation__open-image {
  color: #81b3d2;
}
.main-navigation__close-image {
  color: #ffffff;
}
.main-navigation__logo {
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
.main-navigation__logo-image {
  width: 102px;
  height: 84px;
}
.main-navigation__hidden {
  display: none;
}
.main-navigation__show {
  display: block;
}
@media (min-width: 768px) {
  .main-navigation__close,
  .main-navigation__open {
    display: none;
  }
  .main-navigation__hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-navigation__item {
    width: 153px;
    border-bottom: none;
  }
  .main-navigation__item:nth-child(3) {
    margin-left: auto;
  }
  .main-navigation__link {
    background-color: #ffffff;
    color: #000000;
    font-size: 14px;
    padding: 19px 0 23px 0;
  }
  .main-navigation__link:hover {
    background-color: #ffffff;
    color: #81b3d2;
  }
  .main-navigation__link:active {
    color: rgba(0, 0, 0, 0.3);
  }
  .main-navigation__link--active {
    color: #766357;
  }
  .main-navigation__link--active:hover {
    color: #604e43;
  }
  .main-navigation__link--active:active {
    color: rgba(118, 99, 87, 0.3);
  }
  .main-navigation__logo {
    position: absolute;
    left: 43.5%;
  }
}
@media (min-width: 1200px) {
  .main-navigation__logo {
    left: 42%;
  }
  .main-navigation__logo-image {
    width: 188px;
    height: 96px;
  }
  .main-navigation__item {
    width: 239px;
  }
}
.page-main__title {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.page-main__title--photo,
.page-main__title--form {
  position: relative;
}
.page-main__title--photo::after,
.page-main__title--form::after {
  content: "";
  display: block;
  bottom: 0;
  width: 320px;
  height: 1px;
  background-color: #e5e5e5;
}
.page-main__slogan {
  margin-top: 42px;
  margin-left: 30px;
  margin-right: 30px;
}
.page-main__slogan--photo {
  margin-top: 36px;
}
.page-main__slogan--form {
  margin-top: 35px;
}
.page-main__intro {
  margin-top: 30px;
  line-height: 1.8;
  margin-bottom: 5px;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}
.page-main__intro--photo {
  margin: 25px;
}
.page-main__intro--form {
  margin-top: 25px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 16px;
  line-height: 1.75;
  border-bottom: 1px;
}
@media (min-width: 768px) {
  .page-main__title {
    width: 490px;
  }
  .page-main__title::after {
    display: none;
  }
  .page-main__slogan {
    margin-top: 52px;
    margin-left: 0;
    margin-right: 0;
    letter-spacing: 0.3px;
    line-height: 1.3;
  }
  .page-main__slogan--photo {
    margin-top: 66px;
    font-size: 30px;
  }
  .page-main__slogan--form {
    margin-top: 65px;
    font-size: 30px;
  }
  .page-main__intro {
    margin-left: 0;
    margin-right: 0;
    margin-top: 27px;
  }
  .page-main__intro--photo {
    margin-top: 24px;
    line-height: 1.7;
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
  .page-main__intro--form {
    margin-top: 24px;
  }
}
@media (min-width: 1200px) {
  .page-main__title--form {
    width: 440px;
  }
  .page-main__slogan--form {
    margin-top: 105px;
  }
  .page-main__slogan--photo {
    margin-top: 106px;
  }
}
.advantages {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.advantages__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-top: 0;
}
.advantages__item-wrapper-blue {
  background-color: #81b3d2;
  padding-top: 27px;
  padding-bottom: 40px;
}
.advantages__item-wrapper-blue--triangle {
  position: relative;
  padding-top: 64px;
  padding-bottom: 40px;
}
.advantages__item-wrapper-blue--triangle::before {
  content: "";
  position: absolute;
  width: 320px;
  height: 37px;
  background-image: url("../img/bg-triangle.svg");
  background-size: 102%;
  top: -1px;
  left: 0;
}
.advantages__wrapper-gray {
  background-color: #eeeeee;
  padding-top: 13px;
  padding-bottom: 27px;
  position: relative;
}
.advantages__wrapper-gray--first {
  padding-top: 9px;
}
.advantages__wrapper-gray::after {
  content: "";
  width: 280px;
  height: 1px;
  background-color: gray;
  position: absolute;
  bottom: 0;
  opacity: 0.1;
  left: 20px;
}
.advantages__item-slogan {
  margin-top: 15px;
  margin-bottom: 0;
  margin-left: 30px;
  margin-right: 30px;
}
.advantages__item-number {
  margin-top: 8px;
}
.advantages__item-number--wrapper-gray {
  display: block;
  width: 100%;
  text-align: center;
}
.advantages__item-text {
  margin-top: 17px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;
}
.advantages__sublist {
  padding: 0;
  list-style-type: none;
  margin: 0;
  padding-bottom: 36px;
  padding-top: 3px;
}
.advantages__sublist-item {
  position: relative;
  padding-left: 70px;
  margin-bottom: 0;
}
.advantages__sublist-item::before {
  content: "";
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
}
.advantages__sublist-item--icons-hotel::before {
  top: -7px;
  left: 21px;
  width: 37px;
  height: 36px;
  background-image: url("../img/icon-house.svg");
}
.advantages__sublist-item--icons-souvenirs::before {
  top: -10px;
  left: 25px;
  width: 32px;
  height: 38px;
  background-image: url("../img/icon-gift.svg");
}
.advantages__sublist-item--icons-burger::before {
  top: -7px;
  left: 18px;
  width: 40px;
  height: 35px;
  background-image: url("../img/icon-burger.svg");
}
.advantages__sublist-title {
  margin-top: 29px;
  margin-bottom: 0;
  text-align: left;
}
.advantages__sublist-text {
  margin-right: 35px;
  margin-bottom: 0;
  text-align: left;
}
@media (min-width: 768px) {
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .advantages__item {
    margin-top: 46px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .advantages__item--bridge {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-top: 28px;
  }
  .advantages__item-wrapper-blue {
    width: 256px;
    padding: 42px 47px 46px 47px;
  }
  .advantages__item-wrapper-blue--triangle::before {
    display: none;
  }
  .advantages__item-slogan {
    margin: 0;
    line-height: 1.3;
    margin-bottom: 10px;
  }
  .advantages__item-number {
    margin: 0;
    margin-bottom: 20px;
  }
  .advantages__item-text {
    margin: 0;
  }
  .advantages__item-picture {
    width: 512px;
    height: 256px;
  }
  .advantages__sublist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 55px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  .advantages__sublist-item {
    padding-left: 0;
  }
  .advantages__sublist-item::before {
    position: static;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-size: auto;
    width: 77px;
    height: 75px;
  }
  .advantages__sublist-item--icons-burger::before {
    position: relative;
    top: 2px;
    left: 0;
  }
  .advantages__sublist-item--icons-souvenirs {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .advantages__sublist-item--icons-souvenirs::before {
    position: relative;
    left: 6px;
    top: 0;
  }
  .advantages__sublist-title {
    text-align: center;
    margin-top: 24px;
  }
  .advantages__sublist-text {
    margin-top: 18px;
    width: 165px;
    text-align: center;
    margin-right: 0;
  }
  .advantages__wrapper-gray {
    width: 256px;
    min-height: 256px;
    margin-top: 0;
    padding-top: 44px;
    padding-right: 48px;
    padding-bottom: 49px;
    padding-left: 49px;
  }
}
@media (min-width: 1200px) {
  .advantages__item--bridge {
    margin-top: 49px;
  }
  .advantages__item-wrapper-blue {
    width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .advantages__item-slogan {
    max-width: 151px;
    margin-left: auto;
    margin-right: auto;
  }
  .advantages__item-slogan--wrapper-gray {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .advantages__item-number--wrapper-gray {
    margin-bottom: 0;
  }
  .advantages__item-text {
    max-width: 265px;
    margin-left: auto;
    margin-right: auto;
  }
  .advantages__item-picture {
    width: 800px;
    height: 256px;
  }
  .advantages__item-image {
    width: 800px;
    height: 256px;
  }
  .advantages__sublist {
    margin-top: 55px;
  }
  .advantages__sublist-text {
    width: 252px;
  }
  .advantages__wrapper-gray {
    width: 400px;
    padding-top: 25px;
  }
}
.page-form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 5px;
}
.page-form__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.page-form__item {
  position: relative;
}
.page-form__item::after {
  content: "";
  display: block;
  bottom: 0;
  width: 320px;
  height: 1px;
  background-color: #e5e5e5;
}
.page-form__item--emotion::after {
  display: none;
}
.page-form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
.page-form__fieldset--user-data {
  padding-bottom: 25px;
}
.page-form__fieldset-title {
  margin-top: 20px;
  margin-bottom: 0;
  display: block;
  width: 100%;
  text-align: center;
}
.page-form__fieldset-title--user-data {
  letter-spacing: 0.5px;
}
.page-form__fieldset-title--contact-info {
  letter-spacing: 0.2px;
  margin-bottom: 6px;
  padding-top: 16px;
}
.page-form__fieldset-title--impression {
  letter-spacing: 0.3px;
  margin-bottom: 8px;
  padding-top: 19px;
}
.page-form__fieldset-title--emotion {
  padding-top: 19px;
  margin-bottom: 11px;
}
.page-form__fieldset-title--landmark {
  margin-bottom: 5px;
  padding-top: 21px;
}
.page-form__fieldset-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-right: 20px;
  margin-left: 20px;
}
.page-form__fieldset-list--contact-info {
  padding-bottom: 25px;
}
.page-form__fieldset-list--impression {
  padding-bottom: 28px;
}
.page-form__fieldset-item {
  margin-top: 22px;
}
.page-form__fieldset-item--user-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 21px;
}
.page-form__fieldset-item--contact-info {
  margin-top: 15px;
}
.page-form__fieldset-item--impression {
  margin-top: 23px;
}
.page-form__fieldset-item--landmark {
  margin-bottom: 34px;
}
.page-form__fieldset-item--landmark:last-child {
  margin-bottom: 25px;
}
.page-form__label {
  text-align: left;
}
.page-form__label--user-data {
  display: block;
}
.page-form__label--contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.page-form__label--impression {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.page-form__label--landmark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.page-form__label-title {
  width: 100%;
  display: block;
  text-align: left;
  margin-left: 21px;
  margin-bottom: 10px;
  letter-spacing: 0.1px;
}
.page-form__label-title--impression {
  width: auto;
  font-size: 18px;
  font-weight: bold;
  margin-left: 31px;
}
.page-form__label-title--impression::after {
  content: "";
  position: absolute;
  width: 55px;
  height: 55px;
  top: -7px;
  left: 0;
  border-radius: 50%;
  background-color: #f2f2f2;
  z-index: 1;
  border: 5px solid #f2f2f2;
}
.page-form__label-title--impression::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #333333;
  border: 3px solid #333333;
  top: 9px;
  left: 16px;
  z-index: 2;
  opacity: 0;
}
.page-form__label-title--landmark {
  width: auto;
  font-size: 18px;
  font-weight: bold;
  margin-left: 33px;
}
.page-form__label-title--landmark::after {
  content: "";
  position: absolute;
  top: -7px;
  left: 0;
  width: 55px;
  height: 55px;
  border: 5px solid #f2f2f2;
  background-color: #f2f2f2;
  z-index: 1;
}
.page-form__label-title--landmark::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 16px;
  top: 12px;
  left: 16px;
  background-image: url("../img/icon-tick.svg");
  background-size: 24px 16px;
  background-repeat: no-repeat;
  z-index: 2;
  opacity: 0;
}
.page-form__input {
  margin-left: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 17px;
  background-color: #f2f2f2;
  border: solid 4px #f2f2f2;
  font-size: 18px;
  font-weight: bold;
}
.page-form__input::-webkit-input-placeholder {
  font-size: 18px;
  font-weight: bold;
  opacity: 1;
}
.page-form__input::-moz-placeholder {
  font-size: 18px;
  font-weight: bold;
  opacity: 1;
}
.page-form__input:-ms-input-placeholder {
  font-size: 18px;
  font-weight: bold;
  opacity: 1;
}
.page-form__input::-ms-input-placeholder {
  font-size: 18px;
  font-weight: bold;
  opacity: 1;
}
.page-form__input::placeholder {
  font-size: 18px;
  font-weight: bold;
  opacity: 1;
}
.page-form__input:hover {
  background-color: #e5e5e5;
  border-color: #e5e5e5;
}
.page-form__input:focus {
  background-color: #ffffff;
  border-color: #e5e5e5;
}
.page-form__input--user-data {
  width: 192px;
}
.page-form__input--user-data:last-child {
  padding-left: 20px;
}
.page-form__input--user-data-first {
  width: 230px;
}
.page-form__input--contact-info {
  width: 222px;
}
.page-form__input--impression {
  margin-left: 0;
  width: 46px;
  height: 46px;
  opacity: 0;
  z-index: 3;
}
.page-form__input--landmark {
  margin-left: 0;
  width: 46px;
  height: 46px;
  opacity: 0.1;
}
.page-form__input--emotion {
  width: 280px;
  min-height: 160px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 22px;
  padding-left: 21px;
  resize: none;
}
.page-form__input--emotion::-webkit-input-placeholder {
  line-height: 1.44;
}
.page-form__input--emotion::-moz-placeholder {
  line-height: 1.44;
}
.page-form__input--emotion:-ms-input-placeholder {
  line-height: 1.44;
}
.page-form__input--emotion::-ms-input-placeholder {
  line-height: 1.44;
}
.page-form__input--emotion::placeholder {
  line-height: 1.44;
}
.page-form__input--impression:checked + .page-form__label-title--impression::before,
.page-form__input--landmark:checked + .page-form__label-title--landmark::before {
  opacity: 1;
}
.page-form__input--impression:hover + .page-form__label-title--impression::after,
.page-form__input--landmark:hover + .page-form__label-title--landmark::after {
  background-color: #e5e5e5;
  border-color: #e5e5e5;
}
.page-form__input--impression:active + .page-form__label-title--impression::after,
.page-form__input--landmark:active + .page-form__label-title--landmark::after {
  background-color: #d5d5d5;
  border-color: #d5d5d5;
}
.page-form__input--impression:active + .page-form__label-title--impression::before,
.page-form__input--landmark:active + .page-form__label-title--landmark::before {
  opacity: 0.3;
}
.page-form__input-icon {
  width: 58px;
  height: 58px;
  margin-left: auto;
  background-color: #e6e6e6;
  padding: 20px;
}
.page-form__input-icon--mail {
  padding: 21px;
}
.page-form__button {
  margin-top: 56px;
  margin-bottom: 39px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: #ffffff;
  background-color: #81b3d2;
  font-size: 21px;
  text-transform: uppercase;
  text-align: center;
  padding: 17px 0;
  border: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
}
.page-form__button:hover {
  background-color: #669ec0;
}
.page-form__button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.page-form__button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}
.page-form__button-text {
  display: none;
}
@media (min-width: 768px) {
  .page-form {
    margin-top: 52px;
  }
  .page-form__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 59px 0 60px;
  }
  .page-form__item {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .page-form__item::after {
    display: none;
  }
  .page-form__item--user-data {
    padding-left: 57px;
    width: 50%;
    position: relative;
  }
  .page-form__item--user-data::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 0;
    width: 1px;
    height: 292px;
    background-color: #e9e8e8;
  }
  .page-form__item--impression {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 50%;
  }
  .page-form__item--form-button {
    margin-top: 60px;
    margin-bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page-form__fieldset-title {
    width: 100%;
    text-align: left;
  }
  .page-form__fieldset-title::before,
  .page-form__fieldset-title::after {
    content: "";
    position: absolute;
    display: block;
    width: 125px;
    height: 1px;
    background-color: #e9e8e8;
    top: 49%;
  }
  .page-form__fieldset-title::after {
    left: 0;
  }
  .page-form__fieldset-title::before {
    right: 0;
  }
  .page-form__fieldset-title--user-data {
    padding-top: 20px;
  }
  .page-form__fieldset-title--contact-info {
    padding-top: 38px;
    margin-bottom: 0;
    text-align: center;
  }
  .page-form__fieldset-title--impression,
  .page-form__fieldset-title--user-data {
    width: auto;
    margin-top: 20px;
  }
  .page-form__fieldset-title--impression::after,
  .page-form__fieldset-title--user-data::after,
  .page-form__fieldset-title--impression::before,
  .page-form__fieldset-title--user-data::before {
    display: none;
  }
  .page-form__fieldset-title--landmark {
    padding: 0 125px;
    padding-top: 26px;
    line-height: 1.3;
    margin-bottom: 38px;
    text-align: center;
  }
  .page-form__fieldset-title--landmark::before,
  .page-form__fieldset-title--landmark::after {
    top: 52px;
  }
  .page-form__fieldset-title--emotion {
    padding-top: 26px;
    margin-bottom: 57px;
    text-align: center;
  }
  .page-form__fieldset-title--emotion::before,
  .page-form__fieldset-title--emotion::after {
    top: 42px;
  }
  .page-form__fieldset-list {
    margin: 0;
  }
  .page-form__fieldset-list--user-data {
    margin-top: 56px;
  }
  .page-form__fieldset-list--impression {
    margin-top: 57px;
  }
  .page-form__fieldset-list--landmark {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 10px;
    max-width: 462px;
    margin-left: auto;
    margin-right: auto;
  }
  .page-form__fieldset-item--impression {
    margin-top: 32px;
  }
  .page-form__fieldset-item--contact-info {
    margin-top: 25px;
  }
  .page-form__fieldset-item--landmark {
    width: 202px;
    margin-top: 0;
    margin-bottom: 42px;
  }
  .page-form__label-title--landmark {
    margin-top: 5px;
  }
  .page-form__input--contact-info {
    width: 590px;
  }
  .page-form__input--emotion {
    width: 100%;
    padding-top: 13px;
    padding-left: 16px;
  }
  .page-form__input--user-data {
    margin-left: 15px;
    width: 182px;
  }
  .page-form__input--user-data-first {
    margin-left: 15px;
    width: 215px;
  }
  .page-form__button {
    margin: 0;
    width: 324px;
  }
  .page-form__button-text {
    margin: 0;
    display: block;
    text-transform: uppercase;
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  .page-form {
    margin-top: 36px;
  }
  .page-form__list {
    padding: 0 120px;
  }
  .page-form__item--user-data {
    padding-left: 80px;
  }
  .page-form__fieldset-title::after,
  .page-form__fieldset-title::before {
    width: 280px;
  }
  .page-form__fieldset-title--impression {
    margin-left: 80px;
  }
  .page-form__fieldset-title--landmark {
    padding: 0 280px;
    padding-top: 25px;
  }
  .page-form__fieldset-list--contact-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 48px;
  }
  .page-form__fieldset-list--landmark {
    max-width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .page-form__fieldset-item--contact-info {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .page-form__fieldset-item--landmark:nth-child(2) {
    margin-left: 23px;
  }
  .page-form__fieldset-item--landmark:nth-child(3) {
    margin-left: 20px;
  }
  .page-form__label--contact-info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page-form__label-title--contact-info {
    width: auto;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .page-form__input--user-data {
    width: 312px;
  }
  .page-form__input--user-data-first {
    width: 350px;
  }
  .page-form__input--contact-info {
    width: 257px;
    margin-left: 15px;
  }
  .page-form__label-desktop-dn {
    display: none;
  }
  .page-form__button {
    width: 480px;
  }
}
.photo {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.photo::after {
  content: "";
  display: block;
  bottom: 0;
  width: 320px;
  height: 1px;
  background-color: #e5e5e5;
}
.photo__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 0;
}
.photo__item {
  margin: 0;
  margin-top: 22px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}
.photo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 280px;
}
.photo__image {
  width: 280px;
}
.photo__name {
  margin-top: 10px;
  margin-bottom: 0;
  text-align: left;
}
.photo__name--sunset {
  margin-top: 13px;
}
.photo__autor {
  font-size: 14px;
  color: #333333;
  margin-top: 7px;
}
.photo__likes {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 14px;
  color: #333333;
  padding-left: 37px;
  position: relative;
  margin-bottom: 23px;
}
.photo__likes::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: -7px;
  width: 23px;
  height: 21px;
  opacity: 0.3;
  background-image: url("../img/icon-like.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .photo::after {
    display: none;
  }
  .photo__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 60px 0 60px;
  }
  .photo__item {
    margin-right: 0;
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 324px;
    margin-top: 0;
    padding-bottom: 5px;
    background-color: #f2f2f2;
  }
  .photo__item--sunset {
    margin-top: 45px;
    width: 100%;
  }
  .photo__item--roads {
    background-color: #eaeaea;
  }
  .photo__link {
    width: 324px;
  }
  .photo__link--sunset {
    width: 648px;
  }
  .photo__image {
    width: 324px;
  }
  .photo__image--sunset {
    width: 648px;
  }
  .photo__name-autor-wrapper {
    margin-left: 21px;
  }
  .photo__name {
    margin-top: 12px;
    font-weight: bold;
  }
  .photo__likes {
    margin-left: auto;
    font-weight: bold;
    margin-top: 28px;
    margin-right: 21px;
  }
  .photo__likes--sunset {
    margin-right: 12px;
    margin-top: 22px;
  }
  .photo__likes--sunset::before {
    top: 2px;
    left: 4px;
  }
  .photo__likes--roads {
    margin-right: 28px;
  }
  .photo__likes::before {
    top: -1px;
    left: 4px;
  }
}
@media (min-width: 1200px) {
  .photo__list {
    padding: 0;
  }
  .photo__item {
    position: relative;
    width: 400px;
    padding-bottom: 0;
  }
  .photo__item--sunset {
    width: 1200px;
    margin-bottom: -4px;
    margin-top: 49px;
  }
  .photo__link {
    position: relative;
    z-index: 1;
    width: 400px;
  }
  .photo__link--sunset {
    width: 1200px;
  }
  .photo__link::before {
    content: "";
    position: absolute;
    bottom: 3px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 80px;
    z-index: 2;
  }
  .photo__image {
    width: 400px;
  }
  .photo__image--sunset {
    width: 1200px;
  }
  .photo__name-autor-wrapper {
    position: absolute;
    bottom: 11px;
    left: 0;
    z-index: 3;
  }
  .photo__name {
    color: white;
  }
  .photo__autor {
    color: white;
    margin-top: 5px;
  }
  .photo__likes {
    position: absolute;
    bottom: 10px;
    right: 0;
    color: white;
    z-index: 3;
  }
  .photo__likes--sunset {
    bottom: 10px;
    right: 1px;
  }
  .photo__likes::before {
    background-image: url("../img/icon-like-white.svg");
    opacity: 1;
    top: -5px;
  }
}
.video {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}
.video__slogan {
  margin-top: 30px;
}
.video__intro {
  max-width: 240px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.7;
}
.video__wrapper {
  margin-top: 37px;
  min-height: 269px;
  position: relative;
  margin-bottom: 43px;
}
.video__preview {
  min-width: 320px;
  min-height: 201px;
}
.video__management {
  position: absolute;
  width: 320px;
  bottom: 0;
}
.video__management-volume-wrapper {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  height: 46px;
  background-color: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.video__management-volume-wrapper::before {
  content: "";
  position: absolute;
  left: 20px;
  width: 235px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
}
.video__button {
  border: none;
  background-color: transparent;
}
.video__management-icon {
  color: #454545;
}
.video__management-icon:hover {
  color: #333333;
}
.video__management-icon:active {
  opacity: 0.3;
}
.video__management-volume {
  margin-left: 55px;
  margin-right: auto;
  width: 10px;
  height: 10px;
  position: relative;
}
.video__management-volume-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  fill: #ffffff;
}
.video__management-other-wrapper {
  width: 280px;
  margin-right: auto;
  margin-left: auto;
  background-color: #f2f2f2;
  height: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.video__replay {
  margin-left: 19px;
}
.video__subtitles {
  margin-left: auto;
  margin-right: 19px;
}
.video__fullscreen {
  margin-right: 17px;
}
@media (min-width: 768px) {
  .video {
    width: 768px;
    padding: 0 60px 0 60px;
    position: relative;
  }
  .video__slogan {
    margin-top: 60px;
    font-size: 30px;
    margin-bottom: 24px;
  }
  .video__intro {
    margin-top: 0;
    max-width: 415px;
  }
  .video__wrapper {
    margin-top: 74px;
    margin-bottom: 45px;
  }
  .video__management {
    width: 648px;
  }
  .video__management-other-wrapper {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    height: 92px;
  }
  .video__management-volume-wrapper {
    position: absolute;
    bottom: 22px;
    left: 80px;
    background-color: transparent;
    width: 390px;
  }
  .video__management-volume-wrapper::before {
    width: 100%;
    left: 13px;
  }
  .video__management-volume {
    margin-left: 126px;
  }
  .video__management-icon {
    color: #ffffff;
  }
  .video__management-icon:hover {
    color: #ffffff;
    opacity: 0.6;
  }
  .video__management-icon:active {
    opacity: 0.3;
  }
  .video__fullscreen {
    margin-right: 35px;
  }
  .video__subtitles {
    margin-right: 19px;
  }
  .video__replay {
    margin-left: 27px;
  }
}
@media (min-width: 1200px) {
  .video {
    width: 1200px;
    padding: 0;
  }
  .video__wrapper {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 83px;
  }
  .video__management {
    width: 800px;
    bottom: 4px;
  }
  .video__management-volume-wrapper {
    width: 540px;
  }
}
.search-hotel {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.search-hotel__slogan {
  font-size: 21px;
  margin-top: 28px;
  margin-bottom: 0;
}
.search-hotel__intro {
  margin-left: auto;
  margin-right: auto;
  max-width: 270px;
  margin-top: 18px;
  line-height: 1.7;
}
.search-hotel__button {
  max-width: 280px;
  display: block;
  margin-top: 31px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  font-size: 21px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 23px;
  padding-bottom: 20px;
  font-weight: bolder;
  color: #ffffff;
  background-color: #81b3d2;
}
.search-hotel__button:hover {
  background-color: #669ec0;
}
.search-hotel__button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.search-hotel__button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}
.search-hotel__map-wrapper {
  margin-top: 48px;
}
@media (min-width: 768px) {
  .search-hotel__slogan {
    font-size: 30px;
    margin-top: 43px;
  }
  .search-hotel__intro {
    max-width: 400px;
    margin-top: 25px;
  }
  .search-hotel__button {
    margin-top: 42px;
    max-width: 458px;
    padding: 17px 0 19px 0;
  }
  .search-hotel__map-wrapper {
    margin-top: 56px;
  }
}
@media (min-width: 1200px) {
  .search-hotel__slogan {
    margin-top: 47px;
  }
  .search-hotel__map-wrapper {
    margin-top: 65px;
  }
  .search-hotel__button {
    margin-top: 45px;
  }
}
.page-footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .page-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.shechter {
  padding: 33px 0;
}
.shechter__text {
  font-size: 21px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  width: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  .shechter {
    margin-top: 7px;
    margin-left: 60px;
  }
  .shechter__text {
    margin-top: 3px;
  }
}
@media (min-width: 1200px) {
  .shechter {
    margin-top: 9px;
    margin-left: 120px;
  }
}
.social-links {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 155px;
  margin-top: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.social-links__item {
  width: 48px;
  height: 48px;
}
.social-links__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: #81b3d2;
  color: white;
}
.social-links__link:hover {
  background-color: #669ec0;
  cursor: pointer;
}
.social-links__link:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .social-links {
    margin-left: 110px;
    margin-top: 30px;
  }
}
@media (min-width: 1200px) {
  .social-links {
    margin-top: 34px;
    margin-left: 267px;
  }
}
.copyright {
  margin-top: 40px;
  width: 130px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.copyright__text {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.03em;
}
.copyright__link {
  padding-top: 2px;
  color: #000000;
}
.copyright__link:hover {
  color: #81b3d2;
}
.copyright__link:active {
  color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .copyright {
    margin-top: 10px;
  }
}
@media (min-width: 1200px) {
  .copyright {
    margin-left: auto;
    margin-right: 120px;
    margin-top: 11px;
  }
}
.page-popup {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.page-popup__wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -160px;
  -webkit-box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
          box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  width: 320px;
  z-index: 2;
  padding-top: 40px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page-popup__wrapper--ok {
  margin-top: -200px;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .page-popup__wrapper--ok {
    width: 640px;
    margin-left: -320px;
  }
}
.page-popup__wrapper--ok::after {
  content: "";
  width: 100%;
  height: 107px;
  background-color: #f2f2f2;
  position: absolute;
  bottom: 0;
}
.page-popup__wrapper--error {
  margin-top: -200px;
  padding-bottom: 35px;
}
@media (min-width: 768px) {
  .page-popup__wrapper--error {
    width: 400px;
  }
}
.page-popup__title {
  margin-bottom: 30px;
  font-weight: bold;
}
.page-popup__title--error {
  line-height: 1.33;
}
@media (min-width: 768px) {
  .page-popup__title {
    font-size: 30px;
    padding: 0 60px;
  }
}
.page-popup__text {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 60px;
}
.page-popup__button {
  border: none;
  background-color: #81b3d2;
  text-align: center;
  color: #ffffff;
  padding: 22px 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  z-index: 1;
}
.page-popup__button:hover {
  background-color: #669ec0;
  cursor: pointer;
}
.page-popup__button:active {
  background-color: #5496bd;
}
.page-popup__button--ok {
  width: 280px;
}
.page-popup__button--error {
  width: 180px;
}
.page-popup__hidden {
  display: none;
}

/*# sourceMappingURL=style.css.map */
